html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.calendar-warp {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.calendar-warp table {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    position: absolute;
    font-weight: 400;
}

.calendar-warp table .calendar-top-box {
    background-color: #e0e0e0;
    line-height: 1
}

.calendar-warp table .calendar-top-box td {
    padding: .4em 0;
}

.calendar-warp table .calendar-top-box td .calendar-top {
    color: #333333;
    font-size: 12px;
    padding: 0 1em;
    margin: 0;
}

.calendar-warp table .calendar-top-box td .calendar-top > select {
    background-color: inherit;
    border: solid 1px rgba(211, 211, 211, 0.6);
    font-weight: 300;
}

.calendar-warp table .calendar-top-box td .calendar-Animal {
    color: #333333;
    font-weight: 100;
    font-size: 12px;
}

.calendar-warp table .calendar-week {
    text-align: center;
}

.calendar-warp table .calendar-week td {
    font-size: 16px;
    width: 60px;
    padding: .4em 0;
}

.calendar-warp table .calendar-week td:first-child {
    color: #828282;
}

.calendar-warp table .calendar-week td:last-child {
    color: #828282;
}

.calendar-warp table .calendar-solar-day-tr {
    text-align: center;
    line-height: 1.5;
}

.calendar-warp table .calendar-solar-day-tr td {
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar-warp table .calendar-solar-day-tr td .calendar-solar-day {
    font-size: 14px;
}

.calendar-warp table .calendar-solar-day-tr td .calendar-lunar-day {
    font-size: 12px;
    color: #aaa;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .calendar-warp table .calendar-week td {
        font-size: 14px;
        min-width: 10px;
    }
}