@font-face {
    font-family: 'Ma Shan Zheng';
    src: url('./fonts/MaShanZheng-Regular.ttf') format('embedded-opentype'), /* Internet Explorer */
    url('./fonts/MaShanZheng-Regular.ttf') format('woff2'), /* Super Modern Browsers */
    url('./fonts/MaShanZheng-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
    url('./fonts/MaShanZheng-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/MaShanZheng-Regular.ttf') format('svg'); /* Legacy iOS */
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.calendar-warp {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.calendar-warp table {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-weight: 400;
    min-width: 444px;
    min-height: 379px;
}

.calendar-warp table .calendar-top-box {
    background-color: #e0e0e0;
    line-height: 1;
    font-family: 'Ma Shan Zheng';
}

.calendar-warp table .calendar-top-box td {
    padding: .4em 0;
}

.calendar-warp table .calendar-top-box td .calendar-top {
    color: #333333;
    font-size: 16px;
    padding: 0 1em;
    margin: 0;
}

.calendar-warp table .calendar-top-box td .calendar-top > select {
    background-color: inherit;
    border: 0;
    font-weight: 100;
    font-size: 14px;
    font-family: monospace;
}

.calendar-warp table .calendar-top-box td .calendar-Animal {
    color: #333333;
    font-weight: 800;
    font-size: 16px;
}

.calendar-warp table .calendar-week {
    text-align: center;
}

.calendar-warp table .calendar-week td {
    font-size: 16px;
    font-family: 'Ma Shan Zheng';
    width: 60px;
    padding: .4em 0;
}

.calendar-warp table .calendar-week td:first-child {
    color: #828282;
}

.calendar-warp table .calendar-week td:last-child {
    color: #828282;
}

.calendar-warp table .calendar-solar-day-tr {
    text-align: center;
    line-height: 1.2;
}

.calendar-warp table .calendar-solar-day-tr td {
    font-family: monospace;
    font-size: 16px;
    max-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.calendar-warp table .calendar-solar-day-tr td .calendar-lunar-day {
    font-family: monospace, 'Ma Shan Zheng';
    font-weight: 100;
    font-size: 14px;
    color: rgb(83, 83, 83);
    padding: 0;
    margin: 0;
}
